<div class="py-3">
    <div class="container mx-auto flex items-center justify-between">
        <div>
            <img class="w-32" src="imgs/logo.svg">
        </div>
        <div class="flex gap-5">
            <div class="bg-mainLight border border-darkLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer">
                <img src="imgs/create.svg">
            </div>
            <div class="flex items-center gap-4 bg-mainLight border border-darkLight px-5 py-2 rounded-md duration-200 hover:brightness-90 cursor-pointer">
                <img src="imgs/Avatar.png">
                <div class="font-bold text-xl">Saad Aletek</div>
            </div>
        </div>
        <!-- <div class="flex gap-5">
            <div class="bg-mainLight border border-darkLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer">
                <img src="imgs/settings.svg">
            </div>
            <div class="flex items-center gap-3 bg-mainLight border border-darkLight px-5 py-3 rounded-md duration-200 hover:brightness-90 cursor-pointer">
                <img src="imgs/signOut.svg">
                <div class="font-bold">Sign out</div>
            </div>
        </div> -->
    </div>
</div>



<div class="py-16">
    <div class="container mx-auto">
        <div class="flex gap-5">
            <div class="flex gap-3 bg-mainLight border border-darkLight rounded-md px-3">
                <img class="w-5" src="imgs/search.svg">
                <input class="focus:outline-none bg-mainLight w-96 text-xl" placeholder="Search">
            </div>
            <div class="flex gap-2">
                <div class="bg-mainLight border border-darkLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer">
                    <img src="imgs/gridDisplay.svg">
                </div>
                <div class="bg-mainLight border border-darkLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer">
                    <img src="imgs/listDisplay.svg">
                </div>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-8 mt-16">

            <div class="w-full bg-mainLight border border-darkLight rounded-md relative p-7 flex flex-col items-center gap-6 ">
                <div class="absolute w-7 h-7 rounded-md bg-darkerLight right-5 top-5 flex items-center justify-center duration-200 hover:brightness-90 cursor-pointer">
                    <img src="imgs/edit.svg">
                </div>
                <div class="text-2xl font-bold">
                    Steam
                </div>
                <div class="w-full">
                    <div>User name :</div>
                    <div class="border border-darkLight p-2 rounded-md flex items-center justify-between">
                        <div>Hamun_yt</div>
                        <div class="p-2 rounded-md bg-darkerLight flex items-center justify-center duration-200 hover:brightness-90 cursor-pointer">
                            <img src="imgs/copy.svg">
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div>Password :</div>
                    <div class="border border-darkLight p-2 rounded-md flex items-center justify-between">
                        <div>07oOMv^&#64;Dn</div>
                        <div class="p-2 rounded-md bg-darkerLight flex items-center justify-center duration-200 hover:brightness-90 cursor-pointer">
                            <img src="imgs/copy.svg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="absolute w-full h-full z-10 bg-[#00000021] top-0 backdrop-blur-sm flex items-center justify-center">
    <div class="bg-mainLight border border-darkLight rounded-md">
        <div>
            Create
        </div>
    </div>
</div>