<div class="bg-dark min-h-[100dvh] w-full">
    <div class="container mx-auto px-3 py-4">
        <!-- <div class="bg-lightDark rounded-md text-base p-3  flex items-center justify-center w-min" [routerLink]="''">Back</div> -->
        <div class=" grid grid-cols-2 items-center gap-3 pt-10">
            <div [routerLink]="'/levels/1'" class="bg-success rounded-md text-xl  flex items-center justify-center aspect-square">Monday</div>
            <div [routerLink]="'/levels/2'" class="bg-success rounded-md text-xl  flex items-center justify-center aspect-square">Wednesday</div>
            <div [routerLink]="'/levels/3'" class="bg-success rounded-md text-xl  flex items-center justify-center aspect-square">Thursday</div>
            <div [routerLink]="'/levels/4'" class="bg-success rounded-md text-xl  flex items-center justify-center aspect-square">Saturday</div>
            <!-- <div [routerLink]="'/levels/5'" class="bg-success rounded-md text-xl  flex items-center justify-center aspect-square">5</div>
            <div [routerLink]="'/levels/6'" class="bg-inProgress rounded-md text-xl  flex items-center justify-center aspect-square">6</div>
            <div [routerLink]="'/levels/7'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">7</div>
            <div [routerLink]="'/levels/8'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">8</div>
            <div [routerLink]="'/levels/9'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">9</div>
            <div [routerLink]="'/levels/10'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">10</div>
            <div [routerLink]="'/levels/11'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">11</div>
            <div [routerLink]="'/levels/12'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">12</div>
            <div [routerLink]="'/levels/13'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">13</div>
            <div [routerLink]="'/levels/14'" class="bg-lightDark rounded-md text-xl  flex items-center justify-center aspect-square">14</div> -->
        </div>
    </div>  
</div>