<div class="py-5">
    <div class="container px-2 mx-auto flex items-center justify-between">
        <div class="cursor-pointer" [routerLink]="''">
            <img class="w-28 " src="imgs/logo.svg">
        </div>
        <div class="flex gap-5 relative" >
            <div class="absolute -bottom-28 right-0 bg-mainLight border border-darkLight rounded-md w-40 hidden opacity-0 duration-200 overflow-hidden" #accountSettings>
                    <div [routerLink]="'/settings'" (click)="toggleAccount()" class="w-full text-center bg-mainLight hover:brightness-90 duration-200 py-3 cursor-pointer flex gap-2 items-center justify-center">
                        <img src="imgs/settings.svg">
                        <div class="font-bold">Settings</div>
                    </div>
                    <div class="w-full text-center bg-mainLight hover:brightness-90 duration-200 py-3 cursor-pointer flex gap-2 items-center justify-center">
                        <img src="imgs/signOut.svg">
                        <div class="font-bold text-[#E21212]">Sign out</div>
                    </div>
            </div>
            <div 
            (click)="openPasswordPopup(true)"
            class="bg-mainLight border border-darkLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer">
                <img src="imgs/create.svg">
            </div>
            <div (click)="toggleAccount()" class="flex items-center gap-4 bg-mainLight border border-darkLight px-5 py-2 rounded-md duration-200 hover:brightness-90 cursor-pointer">
                <img class="w-12" src="imgs/Avatar.png">
                <div class="font-bold text-xl">Saad Aletek</div>
            </div>
        </div>
        <!-- <div class="flex gap-5">
            <div class="bg-mainLight border border-darkLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer">
                <img src="imgs/settings.svg">
            </div>
            <div class="flex items-center gap-3 bg-mainLight border border-darkLight px-5 py-3 rounded-md duration-200 hover:brightness-90 cursor-pointer">
                <img src="imgs/signOut.svg">
                <div class="font-bold">Sign out</div>
            </div>
        </div> -->
    </div>
</div>

<div class="py-16">
    <div class="container mx-auto">
        <div class="flex gap-5">
            <div class="flex gap-3 bg-mainLight border border-darkLight rounded-md px-3 w-full">
                <img class="w-5" src="imgs/search.svg">
                <input
                class="focus:outline-none bg-mainLight w-full py-3 text-xl" 
                placeholder="Search" 
                [(ngModel)]="searchTerm"
                (input)="onSearch()">
            </div>
            <!-- <div class="flex gap-2">
                <div 
                (click)="changeDisplayFormat(true)" 
                [class.bg-darkLight]="displayFormat"
                [class.bg-mainLight]="!displayFormat"
                class="border border-darkLight bg-mainLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer"
              >
                <img [src]="displayFormat ? 'imgs/gridDisplayActive.svg' : 'imgs/gridDisplay.svg'">
              </div>
              
              <div 
                (click)="changeDisplayFormat(false)" 
                [class.bg-darkLight]="!displayFormat"
                [class.bg-mainLight]="displayFormat"
                class="border border-darkLight bg-mainLight rounded-md flex items-center justify-center px-5 aspect-square duration-200 hover:brightness-90 cursor-pointer"
              >
                <img [src]="!displayFormat ? 'imgs/listDisplayActive.svg' : 'imgs/listDisplay.svg'">
              </div>
            </div> -->
        </div>

        <div class="grid xl:grid-cols-3 grid-cols-1 gap-8 mt-16">
            @if(filteredPasswordsArr.length === 0){
                <div class="text-center xl:col-span-3 col-span-1 text-xl">Theres no passwords...</div>
            }
            @for(pass of filteredPasswordsArr ; track pass){
                <div class="w-full bg-mainLight border border-darkLight rounded-md relative p-7 flex flex-col items-center gap-6 ">
                    <div (click)="editPassword(pass.password , pass.name , pass.userName , pass.id)" class="absolute w-7 h-7 rounded-md bg-darkerLight right-5 top-5 flex items-center justify-center duration-200 hover:brightness-90 cursor-pointer">
                        <img src="imgs/edit.svg">
                    </div>
                    <div class="text-2xl font-bold">
                        {{pass.name}}
                    </div>
                    <div class="w-full">
                        <div>User name :</div>
                        <div class="border border-darkLight p-2 rounded-md flex items-center justify-between">
                            <div>{{pass.userName}}</div>
                            <div (click)="copyToClipboard(pass.userName)" class="p-2 rounded-md bg-darkerLight flex items-center justify-center duration-200 hover:brightness-90 cursor-pointer">
                                <img src="imgs/copy.svg">
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <div>Password :</div>
                        <div class="border border-darkLight p-2 rounded-md flex items-center justify-between relative">


                            <div [id]="pass.id" class="flex items-center justify-between text-2xl font-bold font-serif absolute bg-mainLight w-full px-2 top-1/2 -translate-y-1/2 left-0">
                                <div>••••••••</div>
                            </div>


                            <div>{{pass.password}}</div>
                            <div class="flex gap-3 relative z-10">
                                <div (click)="togglePass(pass.id)" class="p-2 rounded-md bg-darkerLight flex items-center justify-center duration-200 hover:brightness-90 cursor-pointer">
                                    <img  [id]="pass.id + 'a'" class="w-4 h-4" src="imgs/hidePass.svg">
                                </div>
                                <div (click)="copyToClipboard(pass.password)" class="p-2 rounded-md bg-darkerLight flex items-center justify-center duration-200 hover:brightness-90 cursor-pointer">
                                    <img src="imgs/copy.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="fixed w-full h-full z-10 bg-[#00000021] top-0 backdrop-blur-sm flex items-center justify-center hidden opacity-0 duration-200" #passwordPopup>
    <div class="fixed w-full h-full z-20" (click)="closePasswordPopup()"></div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()"  class="bg-mainLight border border-darkLight rounded-md flex flex-col items-center gap-10 p-9 relative z-30 shadow-2xl">
        <div class="text-2xl font-bold">
            {{isNew ? 'Create' : 'Edit'}}
        </div>
        <div>
            <div>Name :</div>
            <input class="focus:outline-none bg-darkLight w-96 rounded-md p-2" formControlName="name" placeholder="Name">
        </div>
        <div>
            <div>Username :</div>
            <input class="focus:outline-none bg-darkLight w-96 rounded-md p-2" formControlName="userName" placeholder="Username">
        </div>
        <div>
            <div>Password :</div>
            <input class="focus:outline-none bg-darkLight w-96 rounded-md p-2" formControlName="password" placeholder="Password">
        </div>
        <div class="flex gap-8">
            <button type="submit" class="bg-mainLight border border-darkLight rounded-md px-8 py-1 duration-200 hover:brightness-90 cursor-pointer">
                {{isNew ? 'Create' : 'Save'}}
            </button>
            <div class="bg-mainLight border border-darkLight rounded-md px-8 py-1 duration-200 hover:brightness-90 cursor-pointer" (click)="closePasswordPopup()">Cancel</div>
        </div>
    </form>
</div>

<div class="fixed bottom-2 right-2 flex flex-col items-center bg-[#2dd81e] px-6 py-1 hidden opacity-0 duration-200" #toastCopy>
    <div class="text-xl font-bold text-white">Copied!</div>
</div>